<div class="jumbotron">
  <h1 class="display-4" align="center">Page Analyzer</h1>
  <p class="lead" align="center">Web-application to analyze sites for SEO suitability. Please input site URL that you want to analyze.</p>
  <hr class="my-4">

  <%= link "Start using!", to: Routes.domain_path(@conn, :create), class: "btn btn-primary btn-lg btn-block" %>
</div>
